# Folder Virtual Environment (Kita bisa install ulang nanti)
venv/
__pycache__/

# Folder Foto & Video (Gede banget, jangan di-upload)
input/
output/
INPUT/
OUTPUT/

# Folder Settingan Sistem
.vscode/
.idea/
.DS_Store

# File Rahasia (Jika nanti pakai)
.env
