streamlit
google-generativeai
openai
Pillow
watchdog
PyExifTool
opencv-python-headless
pandas
openpyxl
python-dotenv
streamlit-option-menu
typing_extensions
# Optional: Uncomment jika sudah ada CUDA Toolkit
# cupy-cuda13x